/* counter section  */
.counter-sec {
  width: 50%;
  margin: 100px auto;
  padding: 20px;

  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
  background-color: whitesmoke;
}

/* button container  */
.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* button inside container  */
.control-btn > button {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
}
