.product-area {
  margin-top: -400px;
  width: 100%;
}

.product-sec {
  width: 95%;
  margin: 0px auto;
  /* background-color: rgb(220, 220, 220); */
  /* position: relative; */
  /* z-index: 10 !important; */
}

.no-products {
  border-radius: 20px;
  position: relative;
  text-align: center;
  background-color: white;
  width: 80%;
  margin-top: -400px;
  /* z-index: 200; */
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
