.standings-sec {
  width: 95%;
  margin-left: auto;
}

.standings-container {
  margin-top: 20px;
}

.whitesmoke-color {
  background-color: whitesmoke;
}

.standing-img-crest-container {
  height: 30px;
}

.standing-img-crest-item {
  height: 100%;
}

.standings-row-1 {
  border: 1px solid rgba(0, 0, 0, 0.133);
  padding: 15px 0;
}

.time-box {
  border: 1.2px solid black;
  padding: 0 !important;
  /* width: 50%; */

  margin: 0 auto;
}

/* media queries  */

/* Extra extra large	xxl	≥1400px */
@media (min-width: 1400px) {
}

/* Extra large	xl	≥1200px */
@media (min-width: 1200px) and (max-width: 1399px) {
  .standings-area {
    margin-top: 60px;
  }

  .standings-sec {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large	lg	≥992px */
@media (min-width: 992px) and (max-width: 1199px) {
  .standings-area {
    margin-top: 60px;
  }
  .standings-sec {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium	md	≥768px */
@media (min-width: 768px) and (max-width: 991px) {
  .standings-area {
    margin-top: 60px;
  }
  .standings-sec {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small	sm	≥576px */
@media (min-width: 576px) and (max-width: 767px) {
  .standings-area {
    margin-top: 60px;
  }
  .standings-sec {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* X-Small	None	<576px */
@media (min-width: 0px) and (max-width: 575px) {
  .standings-area {
    margin-top: 60px;
  }
  .standings-sec {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
