.header-area {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.392);
}

.header-sec {
  width: 80%;
  margin: 0 auto;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-header {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Extra extra large	xxl	≥1400px */
@media (min-width: 1400px) {
}

/* Extra large	xl	≥1200px */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Large	lg	≥992px */
@media (min-width: 992px) and (max-width: 1199px) {
  .header-sec {
    width: 95%;
  }

  .right-header {
    width: 35%;
  }
}

/* Medium	md	≥768px */
@media (min-width: 768px) and (max-width: 991px) {
  .header-sec {
    width: 95%;
  }

  .right-header {
    width: 50%;
  }
}

/* Small	sm	≥576px */
@media (min-width: 576px) and (max-width: 767px) {
  .header-sec {
    width: 95%;
  }

  .right-header {
    width: 50%;
  }
}

/* X-Small	None	<576px */
@media (min-width: 0px) and (max-width: 575px) {
  .header-sec {
    width: 95%;
  }

  .right-header {
    width: 50%;
  }
}
