.header-1 {
  width: 75%;
  margin-left: auto;
  height: 60px;
  padding-right: 20px;
}

.header-1-subsec {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 30px;
  height: 100%;
  max-width: 100%;
}

.crest-img-sec {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.crest-img-container {
  height: 100%;
  width: 100%;
}

.crest-img {
  height: 100%;
}

/* header 2 CSS */
.header-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100px;
  background-color: rgb(61, 1, 88);
  color: white;
}

/* header 2 logo section  */
.header-2-logo-sec {
  max-width: 30%;
  height: 100%;
}

/* logo container  */
.logo-container {
  background-color: white;
  border-radius: 50%;
  height: 150%;
  padding: 20px;
  margin-top: -53px;
  margin-left: 5px;
  border: 2px solid rgb(61, 1, 88);
}

/* logo  */
.header-logo {
  height: 100%;
  max-width: 100%;
}

/* header 2 text section  */
.header-2-text-sec {
  width: 88%;
  /* margin-left: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.premierLeague-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.link-dec,
.link-dec:focus,
.link-dec:active,
.link-dec:hover {
  text-decoration: none;
  color: white;
}

/* media queries  */

/* Extra extra large	xxl	≥1400px */
@media (min-width: 1400px) {
}

/* Extra large	xl	≥1200px */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Large	lg	≥992px */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Medium	md	≥768px */
@media (min-width: 768px) and (max-width: 991px) {
  .header-1 {
    width: 70%;
  }
}

/* Small	sm	≥576px */
@media (min-width: 576px) and (max-width: 767px) {
  .header-1 {
    width: 70%;
    padding-right: 10px;
  }
  .header-1-subsec {
    gap: 10px;
  }
}

/* X-Small	None	<576px */
@media (min-width: 0px) and (max-width: 575px) {
  .header-1 {
    width: 70%;
    padding-right: 10px;
  }
  .header-1-subsec {
    gap: 10px;
  }
}
